<div class="content-panel">
    <div class="section-title">
        <h1 class="text-[23px] laptop:text-[30px] text-[#26292a] font-bold leading-[30px] laptop:leading-[35px] w-[50%] laptop:w-[60%]">
            Entrar na minha conta
        </h1>
    </div>
    <div class="form mt-7">
        <form>
            <div class="input">
                <input type="email" placeholder="Email">
            </div>
            <div class="input">
                <input type="password" placeholder="Senha">
            </div>
            <div class="change-method">
                <p class="text-[14px] text-[#aaa]">
                    Ainda não tem uma conta? <a routerLink="/auth/register" class="text-primary cursor-pointer">Criar conta</a>
                </p>
            </div>
            <div class="input-button mt-3">
                <button type="submit">Entrar na minha conta</button>
            </div>
        </form>
    </div>
</div>