form{}
form div.input{
    margin: 20px 0px;
}
form div.input input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #efeff1;
}
form div.input input:focus{
    outline: none;
}
form div.input-button button{
    background-color: var(--primary-color);
    width: 100%;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
}