<div class="content-panel">
    <div class="section-title">
        <h1 class="text-[23px] laptop:text-[30px] text-[#26292a] font-bold leading-[30px] laptop:leading-[35px] w-full">
            Criar uma conta
        </h1>
    </div>
    <div class="form mt-7">

        <app-alert-with-list
        [visible]="((this.authFacade.registerHasErrors$ | async).length > 0) ? true : false "
        [kind]="'error'"
        [strongSpan]="'Erro ao criar esta conta:'"
        [span]="'Erro de cadastramento'"
        [list]="(this.authFacade.registerHasErrors$ | async)"
        class="transition-[.6s]"
        />

        <form
        [formGroup]="this.registerGroup"
        (submit)="this.onSubmit()"
        method="POST"
        >
            <div class="input">
                <input type="email" placeholder="Email" formControlName="email">
            </div>
            <div class="input">
                <input type="password" placeholder="Senha" formControlName="password">
            </div>
            <div class="change-method">
                <p class="text-[14px] text-[#aaa]">
                    Já possui uma conta? <a routerLink="/auth/login" class="text-primary cursor-pointer">Entrar na minha conta</a>
                </p>
            </div>
            <div class="input-button mt-3">
                <button type="submit" [disabled]="this.registerGroup.invalid" class="flex justify-center items-center">
                    <p
                    class=""
                    *ngIf="!(this.authFacade.registerIsLoading$ | async)"
                    >Criar conta</p>
                    <img
                    src="assets/svg/icons/loading/loading-circle.svg"
                    *ngIf="(this.authFacade.registerIsLoading$ | async)"
                    width="24" height="24" alt="">
                </button>
            </div>
        </form>
    </div>
</div>